<div class=container>
  <div class="row my-4">
    <div class="col-4">
      <div class="row my-4">
        <%= flash[:notice] %>
      </div>
    </div>

    <div class="col-8">
      <div class="row my-4">
        <p class="text-center">
        その家事のお悩み、LifeHackersに聞いてみて<br>
        <br>
        料理、掃除、収納術…<br>
        このサイトは、生活の小さな悩みを解決する<br>
        ライフハックや便利グッズの情報を共有するサイトです<br>
        <br>
        投稿された記事にコメントをしたり、<br>
        オススメのライフハックを紹介したり、<br>
        自分のペースで使ってみましょう！
      </p>
      </div>
    </div>
  </div>
</div>
