<div class=container>
  <div class="row my-4">
    <div class="col-3">
      <div class="row my-4">
        <%= flash[:notice] %>
      </div>
    </div>

    <div class="col-8">
      <div class="row my-4">
        <h3 class="text-center">その家事のお悩み、LifeHackersに聞いてみて</h3>
      </div>

      <div class="row my-4">
        <div class="col-9">
          <p class="text-center">
            料理、掃除、収納術…<br>
            このサイトは、生活の小さな悩みを解決する<br>
            ライフハックや便利グッズの情報を皆で共有するサイトです<br>
            <br>
            投稿された記事にコメントしたり、<br>
            オススメのライフハックを紹介したり、<br>
            自分のペースで使ってみましょう！<br>
            <br>
            <br>
            記事の閲覧は誰でも大歓迎！<br>
            ユーザー登録の前に登録者限定機能のお試しもできます
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
