<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="text-center">
        <strong>本当に退会しますか？</strong>
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="text-center">
        投稿やブックマークの登録は登録済みユーザー限定の機能です。<br>
        退会すると、これらの機能が利用できません。<br>
        また、会員登録情報が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-inline-flex center-block">
      <div class="mx-4">
         <%= link_to "退会しない", user_path(current_user.id), class:'btn btn-sm btn-primary' %>
      </div>
      <div class="mx-4">
         <%= link_to "退会する", users_withdraw_path, method: :patch, class:'btn btn-sm btn-danger' %>
      </div>
    </div>
  </div>
</div>
